{% extends 'base.html' %}

{% block script %}
{% endblock %}

{% block title %}
Meal Notifier
{% endblock %}

{% block header %}
<h1>Please check off the meals that you are interested in!</h1>
<h3>Every day that a meal that you have checked off is being served you will be notified.</h3>

<form method='post' action="sign-up">
<ul>
	{% for meal in meals %}
	<li><input type='checkbox' name="{{meal[0]}}"/>      {{ meal[0] }}</li>
	{% endfor %}
</ul>
<input type="submit" value="submit"/>
</form>

{% endblock %}

{% block body %}
{% endblock %}